{% extends "layout.html" %}

{% block page_title %}
  Civil servant check
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a prototype.</span>
        </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/cs-stage" method="post" class="form">

        <h1 class="heading-xlarge">
          Find out what help GDS can give you
        </h1>

        <p>
          GDS offers advice to everybody working on services in government. Specialist help, such as training, is only available to civil servants in the UK government.
        </p>

        <h2 class="heading-medium">
          Are you a civil servant in the UK government?
        </h2>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Are you a civil servant in the UK government?</legend>

            <div class="multiple-choice">
              <input id="civilservantTrue" type="radio" name="civilservant" value="true">
              <label for="civilservantTrue">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="civilservantFalse" type="radio" name="civilservant" value="false">
              <label for="civilservantFalse">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
