{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Get help with your government service [Prototype]
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="heading-medium">About this page</h2>

			<h2 class="heading-medium">Pages in this prototype</h2>

			<ul class="list list-bullet">
				<li><a href="/start-page">Start Page</a></li>
				<li><a href="/department-support">Department Support</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


