{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/cs-check">Back</a>

      <h1 class="heading-large">
        Help for suppliers and contractors
      </h1>

      <p>Help for suppliers and contractors is currently under development.</p>

      <p><a href="/start-page">Return to start</a></p>

    </div>
  </div>
</main>

{% endblock %}
